{%- assign header_items = site.header_items[page.lang] | default: site.header_items[site.lang ] -%}

{%- if page.header_items -%}
   {%- assign header_items = page.header_items -%}
{%- endif -%}

{%- for item in header_items -%}
   {%- assign cssClass = '' -%}
   {%- assign target = '' -%}
   {%- if item.title -%}
      {%- assign title = item.title | escape -%}
      {%- assign href = item.href | escape -%}
      {%- assign target = item.target -%}
      
      {%- if item.featured -%}
         {%- assign cssClass = 'btn btn-primary inline-block' -%}
      {%- endif -%}
   {%- else -%}
      {%- assign page = site.pages | where: "path", item | first -%}
      {%- assign title = page.title | escape -%}
      {%- assign href = page.url | relative_url -%}
   {%- endif -%}

   <li class="pl-5">
      <a class="nav-link {{ cssClass }}" href="{{ href }}" target="{{ target }}">
         <span class="text-gray-500">{{ title }}</span>
      </a>
   </li>   
{%- endfor -%}