pre {
   background: #222;
   color: #ffffff;
   padding: 10px;
   overflow: auto;
   width: 100%;
}

pre code {
   width: auto;
}

.highlight .cm {
   color: #608B4E;
}

.highlight .kd,
.highlight .kc {
   color: #3F9CCA;
}

.highlight .nx {
   color: #68D0FE;
}

.highlight .k {
   color: #C586A1;
}

.highlight .p {
   color: #DCD285;
}

.highlight .s2 {
   color: #CE743A;
}

.highlight .mi {
   color: #B5CEA8;
}

.highlighter-rouge {
   @apply mb-5
}