@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_code.css";
@import "_fa-utilities.css";
@import "_logo.css";
@import "_post.css";

.btn {
   @apply rounded-lg px-5 py-2
}

.btn-primary span {
   @apply text-white
}

.btn-large {
   @apply px-10 py-3
}

p {
   @apply mb-5
}

.tab-content>.tab-pane {
   display: none;
}

.tab-content>.active {
   display: block;
}

.fade {
   transition: opacity .15s linear;
}

.fade:not(.show) {
   opacity: 0;
}

.nav-link.active {
   background-color: var(--gray-200);
   border-left: 3px solid var(--primary-700);
   color: var(--primary-700);
}

.experience {
   ul {
      @apply text-gray-500 list-disc pl-3
   }

   li {
      @apply mb-3
   }
}

.btn-primary {
   @apply bg-primary-600
}

.nav-opened {
   aside {
      right: 0;
   }

   .overlay {
      display: block;
   }
}

body {
   --white: #fff;
   --primary-50: #eef2ff;
   --primary-100: #e0e7ff;
   --primary-200: #c7d2fe;
   --primary-300: #a5b4fc;
   --primary-400: #818cf8;
   --primary-500: #6366f1;
   --primary-600: #4f46e5;
   --primary-700: #4338ca;
   --primary-800: #3730a3;
   --primary-900: #312e81;
   --gray-50: #f9fafb;
   --gray-100: #f3f4f6;
   --gray-200: #e5e7eb;
   --gray-300: #d1d5db;
   --gray-400: #9ca3af;
   --gray-500: #6b7280;
   --gray-600: #4b5563;
   --gray-700: #374151;
   --gray-800: #1f2937;
   --gray-900: #111827;
}

.transition-all {
   transition: all 0.5s !important;
}

.row {
   @apply flex flex-wrap -mx-3
}

.col {
   @apply px-3
}

.card {
   @apply min-h-64
}